{% extends 'baseDictionnary.html.twig' %}

{% block title %}Dict index{% endblock %}

{% block body %}
    <h1 class="TitreWord">Tout le dictionnaire</h1>

    <!--Affichage de tous les mots du dictionnaire  -->
    <div class="card border-info mb-3" id="cardToutProd">	
        <div class='card-header'>Tous le dictionnaire</div>
            <div class='d-flex-grid'>
                {% for word in words %}
                        <div class='card'>
                            <div class="card-body">
                                    <h5 class='card-title'>{{ word.def }}</h5>
                                    <p class='card-text'>{{ word.inputWord }}</p>
                                    <p class='card-text'>{{ word.wordType }}</p>
                            </div>
                        </div>
                {% else %}
                    <h3>no records found</h3>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="pagination">
        {{ knp_pagination_render(words) }}
    </div>

     <h1 class="TitreWord">Télécharger le dictionnaire</h1>
     <a href="{{ path('downloadJson') }}" class="btn btn-primary">Télécharger</a>

     <h1 class="TitreWord">Mot aléatoire</h1>
     <a href="{{ path('randomWord') }}" class="btn btn-primary">Mot aléatoire</a>



{% endblock %}
