{% extends 'baseWordDict.html.twig' %}

{% block body %}

    <div class="section-title" data-aos="fade-up">
        <h2 class="TitreWord">Affichage d'un mot spécifique</h2>
        <p>informations sur un de vos mots</p>
    </div>

    <table class="table table-bordered" id="tableWord">
        <thead class="table-primary">
            <tr>
                <th>Entêtes</th>
                <th>Informations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ word.id }}</td>
            </tr>
            <tr>
                <th>Def</th>
                <td>{{ word.def }}</td>
            </tr>
            <tr>
                <th>InputWord</th>
                <td>{{ word.inputWord }}</td>
            </tr>
            <tr>
                <th>WordType</th>
                <td>{{ word.wordType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_word_index') }}">Retour dans Mot</a>

    <a href="{{ path('app_word_edit', {'id': word.id}) }}">edition du mot</a>
    
{% endblock %}
