
{% extends 'baseNewLangAndCategories.html.twig' %}

{% block body %}
<section>
    <div class="allFormClass">

        <div class="section-title" data-aos="fade-up" id="categorieSection">
            <h2 class="TitreWord">Nouvelle traduction</h2>
            <p>formulaire pour l'ajout d'une nouvelle traduction</p>
        </div>

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                {{ form_start(form, {'attr': {'class': 'border p-4 rounded', 'method': 'POST'}}) }}

                    <div class="form-outline mb-4">
                        {{ form_row(form.translatedWord, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-outline mb-4">
                        {{ form_row(form.def, {'attr': {'class': 'form-control'}}) }}
                    </div>

                     <div class="form-outline mb-4">
                        <div class="form-group">
                            {{ form_row(form.language, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-outline mb-4">
                        <div class="form-group">
                            {{ form_row(form.wordLink, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-outline mb-4">
                        <button type="submit" class="btn btn-primary btn-block">Ajouter Traduction</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}